<div class="block">
  <h3>Recent Activity</h3>
  <ul class="navigation">
    <% @recent_transactions.each do |transaction| %>
    	<li>There has been an inventory adjustment to <%= link_to transaction.conference.name, transaction.conference %> of <%= (transaction.flat + transaction.folded) %> bringing the total inventory to <%= transaction.conference.inventory_total %></li>
    <% end %>
  </ul>
</div>